@font-face {
  font-family: "Avenir Next LT Pro Regular";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.woff) format("woff"), url(../../assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro Demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.woff) format("woff"), url(../../assets/fonts/AvenirNextLTPro-Demi.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.woff) format("woff"), url(../../assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: bold;
}
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
}

ul,
li {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper--header {
  width: 100%;
  background-color: #323232;
}

.navbar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    max-width: 1280px;
    margin: 0 auto;
  }
}
.navbar__img {
  width: 7.5rem;
  height: 1.25rem;
  margin: 1.5rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .navbar__img {
    margin: 2rem 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__img {
    margin: 2rem 4.5rem;
  }
}
.navbar__pages {
  width: 100%;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  top: 0.5rem;
  padding: 0;
  margin: 0.3rem;
}
@media screen and (min-width: 768px) {
  .navbar__list {
    justify-content: left;
    padding: 0.5rem 0 0 4rem;
    margin: 0.5rem 0;
  }
}
.navbar__item {
  width: 100%;
  text-align: center;
  padding: 0 0 0.5rem 0;
  transition: all ease-in-out 0.2s;
  border-bottom-width: 0.312rem;
  border-bottom-style: solid;
  border-bottom-color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
@media screen and (min-width: 768px) {
  .navbar__item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 0.5rem 0 1.3rem 0;
    margin: 0 1rem;
    width: 5.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__item {
    margin: 0 0.4rem;
  }
}
.navbar__item--active {
  border-bottom-width: 0.3125rem;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}
.navbar__item:hover {
  border-bottom-width: 0.3125rem;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}
.navbar__link {
  color: #FFFFFF;
}
.navbar__link--desactive {
  color: #E1E1E1;
}
.navbar__link--desactive:hover {
  color: #FFFFFF;
}

.wrapper--hero {
  width: 100%;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-shows.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  min-height: 19rem;
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 30rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    min-height: 45rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
  }
}
.hero__title {
  align-self: left;
  color: #FFFFFF;
  width: 70%;
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding: 1rem 2rem 1rem 0;
  }
}
.hero__album {
  padding: 1rem 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
}
@media screen and (min-width: 768px) {
  .hero__album {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.hero__text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
.hero__sound {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__sound {
    width: 55%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__sound {
    width: 50%;
    margin: 5rem 0.6rem 0 2.8rem;
  }
}
.hero__link {
  width: 100%;
  max-height: 6rem;
  border: none;
  border-radius: 0.3rem;
}
@media screen and (min-width: 768px) {
  .hero__link {
    max-height: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__link {
    min-height: 6.5rem;
  }
}

.show {
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .show {
    margin-top: 4.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .show {
    width: 60%;
    margin: 0 0 0 25rem;
  }
}
.show__button {
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  height: 2.5rem;
  width: 90%;
  margin: 1rem 0rem 1rem 1rem;
  cursor: pointer;
  font-size: 0.625rem;
  line-height: 1.25;
  font-weight: 700;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
}
@media screen and (min-width: 768px) {
  .show__button {
    font-size: 0.75rem;
    width: 16rem;
    padding: 0 2.5rem;
  }
}
.show__button:hover {
  background-color: #000000;
}
.show__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
  color: #000000;
  padding: 2.4rem 0 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .show__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 2rem 2.5rem;
  }
}
.show__element {
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .show__element {
    display: flex;
    align-items: center;
    padding: 0rem;
    margin: 0 1rem;
  }
  .show__element:hover {
    background-color: #E1E1E1;
  }
}
.show__element-label {
  color: #AFAFAF;
  padding: 2rem 0 0.6rem 0;
  font-size: 0.625rem;
  line-height: 1.25;
  font-weight: 700;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
}
@media screen and (min-width: 768px) {
  .show__element-label {
    font-size: 0.75rem;
    display: none;
  }
}
.show__element-value {
  color: #000000;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
@media screen and (min-width: 768px) {
  .show__element-value {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.show__element-value--date {
  color: #000000;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
}
@media screen and (min-width: 768px) {
  .show__element-value--date {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.show__container {
  padding: 0 1.6rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .show__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .show__container {
    justify-content: space-evenly;
  }
}
.show__table-item {
  color: #AFAFAF;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
}
@media screen and (min-width: 768px) {
  .show__table-item {
    font-size: 0.75rem;
    margin-right: 8rem;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1280px) {
  .show__table-item {
    margin-right: 8rem;
  }
}
.show__table-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .show__table-header {
    padding-left: 2.5rem;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .show__table-header {
    justify-content: flex-start;
  }
}
.show__date {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
}
@media screen and (min-width: 768px) {
  .show__date {
    font-size: 0.75rem;
    width: 10rem;
  }
}
.show__venue {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
@media screen and (min-width: 768px) {
  .show__venue {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 10rem;
  }
}
.show__location {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
@media screen and (min-width: 768px) {
  .show__location {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 10rem;
  }
}

.wrapper--footer {
  width: 100%;
  background-color: #323232;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 1rem 4rem;
    max-width: 1280px;
    margin: 0 auto;
  }
}
.footer__content {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.footer__social {
  padding: 0;
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer__medias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__title {
  padding: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: "Avenir Next LT Pro Bold", sans-serif;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-right: 1.6rem;
  }
}
.footer__links {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.footer__link {
  margin: 0 0.4rem 0 0;
}
@media screen and (min-width: 768px) {
  .footer__link--mobile {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer__link--mobile {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer__link--desktop {
    display: flex;
  }
}
.footer__icon {
  margin: 0 1.2rem 0 0;
  height: 1.5rem;
  padding: 0;
  border-radius: 0.2rem;
}
.footer__icon:hover {
  background-color: #AFAFAF;
}
.footer__contacts {
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__info {
    padding-right: 2.5rem;
  }
}
.footer__card {
  padding: 0.4rem 0;
}
.footer__address {
  padding: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
@media screen and (min-width: 768px) {
  .footer__address {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__subtitle {
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
  padding: 0.4rem 0;
}
@media screen and (min-width: 768px) {
  .footer__subtitle {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__position {
  padding: 0;
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
@media screen and (min-width: 768px) {
  .footer__position {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__email {
  color: #FFFFFF;
  border-radius: 0.3rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
@media screen and (min-width: 768px) {
  .footer__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__email:hover {
  background-color: #000000;
}
.footer__copy {
  padding: 0.4rem 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next LT Pro Regular", sans-serif;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__logo--mobile {
  margin: 2rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer__logo--mobile {
    margin: 0;
  }
}
.footer__logo--tablet {
  display: none;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--tablet {
    display: flex;
    padding: 0.5rem 0 0.5rem 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo--tablet {
    display: none;
  }
}
.footer__logo--desktop {
  display: none;
}
@media screen and (min-width: 1280px) {
  .footer__logo--desktop {
    display: flex;
    padding: 1.5rem 0.9rem 0 0;
  }
}/*# sourceMappingURL=shows.css.map */